
<!--
    navbar implemented in angular-ui: 
    info: https://github.com/angular-ui/bootstrap/issues/1672#issuecomment-33616426
    plunker (complex menu): http://plnkr.co/edit/qPeBaVUyr5cH6QOV5WF5?p=preview
    plunker (simple menu, close on click): http://plnkr.co/edit/L8H80ULgf3fMnROSAqCu?p=preview
-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="navbarController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Celebrate-Taste</a>
        </div>
        <div class="collapse navbar-collapse" collapse="isCollapsed" ng-click="isCollapsed = true">
            <ul class="nav navbar-nav">
                <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
                    <a ng-href="{{item.link}}">{{item.title}}</a>
                </li>
                <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">


                <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Inregistrare</a></li>
                <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Autentificare</a></li>
                <li ng-show="isLoggedIn()"><p class="navbar-text">Salut {{ getCurrentUser().name }}</p> </li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Log out</a></li>
                
                <li ng-if="buildInfo.nodeEnv == 'staging'">
                    <a class="build-info" href="" >{{buildInfo.nodeEnv}}, {{buildInfo.buildDate | date:'dd MMM yyyy, HH:mm'}}</a>
                </li> 
            </ul>
        </div>
    </div>
</nav>