<nav class='navbar navbar-default navbar-fixed-top'>
    <div class='container'>
        <div class='navbar-header'>
            <button type='button', data-toggle='collapse', data-target='.navbar-collapse' class = 'navbar-toggle collapsed'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' href='/'>Celebrate Taste</a>
        </div>
        <div class='collapse navbar-collapse'>
            <ul class='nav navbar-nav'>
                <li><a href='/contact'>Contact</a></li>
            </ul>
            <ul class='nav navbar-nav navbar-right'>
                <!--<li><a href='/login'>Login</a></li>-->
                <li>
                    {{#if user}}
                    <p class="navbar-text">
                        <strong>Hi,</strong> 
                        <!--<img src="{{user.avatar}}" width="20" height="20"> -->
                        {{user.name}}
                    </p>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/logout">Log Out</a>
                </li>
                    {{else}}
                    <a href="/login">Sign In</a>
                </li>
                {{/if}}                
                
            </ul>            
        </div>
    </div>
</nav>