{{> navbar}}

<div class='container'>
	<div class='jumbotron'>
		<h1>Servicii de catering pentru companii</h1>
		<p>Cu o experienta de peste 5 ani in domeniu, oferim servicii complete pentru servirea mesei de pranz. Ne adresam companiilor din Satu Mare si zonele limitrofe.</p>
		<p>
			<span><a class='btn btn-lg btn-primary' href='/todayMenu', role='button'>Meniul de astazi &raquo;</a></span>
			<span><a class='btn btn-lg btn-default' href='/nextMenus', role='button'>Meniurile viitoare &raquo;</a></span>		
		</p>
	</div>
</div>