extends layout

block content
    div.container
        div.jumbotron
            h1 Servicii de catering pentru companii
            p
                | Cu o experienta de peste 5 ani in domeniu, oferim servicii complete pentru servirea mesei de pranz. Ne adresam companiilor din Satu Mare si zonele limitrofe.
            p
                a.btn.btn-lg.btn-primary(href='/todayMenu', role='button') Meniul de astazi &raquo; 
                span &nbsp;
                a.btn.btn-lg.btn-default(href='/nextMenus', role='button') Meniurile viitoare &raquo;
