nav.navbar.navbar-default.navbar-fixed-top
    div.container
        div.navbar-header
            button(type='button', data-toggle='collapse', data-target='.navbar-collapse').navbar-toggle.collapsed
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar                
            a.navbar-brand(href='/') Celebrate Taste
        div.collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href='/contact') Contact
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='#', onclick='') Login