<style>
	@media (max-width: 779px) {
		.btn{
			margin-bottom:10px;
	}	
</style>

{{> navbar}}

<div class='container'>
	<div class='jumbotron'>
		<h1>Servicii de catering pentru companii</h1>
		<p>Cu o experienta de peste 10 ani in domeniu, oferim servicii complete pentru servirea mesei de pranz. Ne adresam companiilor din Satu Mare si zonele limitrofe.</p>
		<p>
			<div class='row'>
				<div class='col-sm-4'>
					<a id='todaysMenuLnk' class='btn btn-lg btn-primary btn-block' href='/todaysMenu', role='button'>Meniul de astazi &raquo;</a>
				</div>
				<div class='col-sm-4'>
					<a id='nextMenusLnk' class='btn btn-lg btn-default btn-block' href='/nextMenus', role='button'>Meniurile viitoare &raquo;</a>
				</div>							
			</div>
		</p>
	</div>
</div>

<div class='container'>
    <div class="row">

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <a href="https://celebratetaste.blob.core.windows.net/share/Fotor_151117702559159.jpg">
                    <img src="https://celebratetaste.blob.core.windows.net/share/Fotor_151117702559159-w400.jpg" alt="oferta2">
                </a>
                <div class="caption">
                    <h3>Oferta Sarbatori 2017</h3>
                    <p>Aperitive, sarmalute, fripura de poc, tocanita de vitel, oua umplute si diverse salate</p>
                    <p>
                        <a href="https://celebratetaste.blob.core.windows.net/share/Fotor_151117702559159.jpg" class="btn btn-primary" role="button">Detalii</a>
                        {{!-- <a href="#" class="btn btn-default" role="button">Button</a> --}}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <a href="https://celebratetaste.blob.core.windows.net/share/Fotor_151117694834574.jpg">
                    <img src="https://celebratetaste.blob.core.windows.net/share/Fotor_151117694834574-w400.jpg" alt="oferta1">
                </a>         
                <div class="caption">
                    <h3>Oferta Sarbatori 2017</h3>
                    <p>Produse de patiserie, prajutiri de casa, torturi diverse</p>
                    <p>
                        <a href="https://celebratetaste.blob.core.windows.net/share/Fotor_151117694834574.jpg" class="btn btn-primary" role="button">Detalii</a>
                        {{!-- <a href="#" class="btn btn-default" role="button">Button</a> --}}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <a href="https://celebratetaste.blob.core.windows.net/share/Fotor_151135790140821.jpg">
                    <img src="https://celebratetaste.blob.core.windows.net/share/Fotor_151135790140821-w400.jpg" alt="oferta4">
                </a>
                <div class="caption">
                    <h3>Platou clasic</h3>
                    {{!-- <p>aaa bbb.</p> --}}
                    <p>
                        <a href="https://celebratetaste.blob.core.windows.net/share/Fotor_151135790140821.jpg" class="btn btn-primary" role="button">Detalii</a>
                        {{!-- <a href="#" class="btn btn-default" role="button">Button</a> --}}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <a href="https://celebratetaste.blob.core.windows.net/share/Fotor_151135737011923.jpg">
                    <img src="https://celebratetaste.blob.core.windows.net/share/Fotor_151135737011923-w400.jpg" alt="oferta3">
                </a>
                <div class="caption">
                    <h3>Snikers</h3>
                    {{!-- <p>Snikers</p> --}}
                    <p>
                        <a href="https://celebratetaste.blob.core.windows.net/share/Fotor_151135737011923.jpg" class="btn btn-primary" role="button">Detalii</a>
                        {{!-- <a href="#" class="btn btn-default" role="button">Button</a> --}}
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>