<style>
	@media (max-width: 779px) {
		.btn{
			margin-bottom:10px;
	}	
</style>

{{> navbar}}

<div class='container'>
	<div class='jumbotron'>
		<h1>Servicii de catering pentru companii</h1>
		<p>Cu o experienta de peste 5 ani in domeniu, oferim servicii complete pentru servirea mesei de pranz. Ne adresam companiilor din Satu Mare si zonele limitrofe.</p>
		<p>
			<div class='row'>
				<div class='col-sm-4'>
					<a id='todaysMenuLnk' class='btn btn-lg btn-primary btn-block' href='/todaysMenu', role='button'>Meniul de astazi &raquo;</a>
				</div>
				<div class='col-sm-4'>
					<a id='nextMenusLnk' class='btn btn-lg btn-default btn-block' href='/nextMenus', role='button'>Meniurile viitoare &raquo;</a>
				</div>							
			</div>
		</p>
	</div>
</div>


<script type="text/javascript">

	(function() {	
				
		var dateStr = getStringFromDate(new Date()); // yyyy-mm-dd
		
		var link1 = document.getElementById("todaysMenuLnk");
		link1.setAttribute('href', "/todaysMenu?today=" + dateStr);
		
        var link2 = document.getElementById("nextMenusLnk");
		link2.setAttribute('href', "/nextMenus?today=" + dateStr);		
		
		function getStringFromDate(date){ // javascript date object
			var d = date.getDate();
			var m = date.getMonth()+1; // January is 0!
			var yyyy = date.getFullYear();  
			
			var dd = d; 
			if(dd < 10) dd = '0' + d;
			
			var mm = m;
			if(mm < 10) m = '0' + m; 
			
			return yyyy + '-' + mm + '-' + dd // 2015-07-23		
		}
		
	})();

</script>
