<div ng-include="'app/navbar/navbar.html'"></div>

<div class="container-fluid">
    <h1>{{pageTitle}}</h1>
    
    <div class="row toolbar">
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" ng-click="create()"> <span class="glyphicon glyphicon-plus"></span> Adauga linie la comanda </button>
            <button type="button" class="btn" ng-click="refresh()"> <span class="glyphicon glyphicon-refresh"></span> </button>
        </div>

        <div class="col-md-3 pull-right">
            <div class="input-group">
                <input ng-model="search" name="newEmail" type="text" class="form-control" placeholder="Cauta">
                <span class="input-group-btn"><button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
            </div>
        </div>

    </div>


    <div class="table-responsive">
        <table class="table table-responsive table-hover table-condensed">
            <thead>
                <tr>
                    <th>Angajat</th>
                    <th>Team</th>
                    <th>Masa</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="orderLine in orderLines | filter:search">
                    <td>
                        <a ng-href="/admin/orderLines/{{orderLine._id}}">{{orderLine.employeeName}}</a>
                    </td>                    
                    <td>
                        {{orderLine.team}}
                    </td>
                    <td>
                        Seria {{orderLine.eatSeries}}
                    </td>                    
                    <td>
                        <a href ng-click="delete(orderLine)">sterge</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
