<div ng-include="'app/navbar/navbar.html'"></div>

<ol class="breadcrumb">
    <li>
        <button ng-click="goBack();" type="button" class="btn btn-default btn-xs" style="margin-right:15px">
            <span class="glyphicon glyphicon-arrow-left" ></span> Inapoi
        </button>
        <a href="/admin"><span class="glyphicon glyphicon-home"></span></a>
    </li>
    <li><a href="/admin/orders">Comenzi</a></li>
    <li class="active">Comanda: {{dateAsShortString}}</li>
</ol>

<div class="container-fluid">
    <h1>{{pageTitle}}: {{dateAsShortString}}</h1>

    <!--<form ng-submit="isEditMode ? update(form) : create(form)" name="form" class="form-horizontal max-width" role="form" autocomplete="off" novalidate>

        <div class="form-group" ng-class="{'has-error' : form.date.$invalid}">
            <label class="col-md-2 control-label required">Data</label>
            <div class="col-md-4">
                <input type="text" name="date" ng-model="order.date" class="form-control"  lm-focus="isFocusOnName" />
                <p class="text-muted">Ex: 28730663987622</p>
                <p ng-show="form.date.$error.myValidation" class="help-block">{{errors.date}}</p>
            </div>
        </div>        

        <div class="form-group" ng-class="{'has-error' : form.status.$invalid }">
            <label class="col-md-2 control-label required">Status</label>
            <div class="col-md-4">
                <input type="text" name="status" ng-model="order.status" class="form-control" />
                <p class="text-muted">Ex: Petrescu Ion / Delegat 1</p>
                <p ng-show="form.status.$error.myValidation" class="help-block">{{errors.status}}</p>
            </div>
        </div>
        
        <div ng-show="errors.other && submitted" class="form-group has-error">
            <div class="col-md-4 col-md-offset-2">
                <p class="help-block">{{errors.other}}</p>
            </div>
        </div>  
        
                  

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-floppy-disk"></span> Salveaza </button>
                <button type="button" class="btn" ng-click="goBack()"> <span class=" glyphicon glyphicon-remove"></span> Renunta </button>
            </div>
        </div>

    </form>-->

    <!--</br/>
    </br/>
    <p>Observatie:</p>
    <p class="text-muted">
        - pentru angajatii permanenti, este recomandabil ca <strong>numele cardului</strong> sa coincida cu <strong>numele angajatului</strong>.<br/>
    </p>-->
    
    <div ng-include="'app/order/orderLine/orderLines.html'" ng-controller="orderLinesController"></div> 

</div>    