<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>    
    <h3 class="modal-title">Livrare</h3>
</div>

<form ng-submit="update(form)" name="form" class="form-horizontal" role="form" autocomplete="off" novalidate>
    
    <div class="modal-body">
        {{orderLine.employeeName}}
        <div ng-show="orderLine.status !== 'completed'"></div>
        <div ng-show="orderLine.status === 'completed'">
            <a href ng-click="revoke(orderLine)">Anuleaza livrarea!</a>
        </div>      
              
                     
    </div>

    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">Renunta</button>    
        <button class="btn btn-primary" type="submit" ng-disabled="orderLine.status === 'completed'" ng-attr-title2="{{!existNewSeries ? 'Aceasta comanda a mai fost introdusa!' : ''}}">Livreaza</button>
    </div>
    
</form>  