<ol class="breadcrumb">
    <li>
        <button ng-click="vm.goBack();" type="button" class="btn btn-default btn-xs" style="margin-right:15px">
            <span class="glyphicon glyphicon-arrow-left" ></span> Inapoi
        </button>
        <a href="/admin"><span class="glyphicon glyphicon-home"></span></a>
    </li>
    <li class="active">Asocieri de nume</li>
</ol>

<div class="container-fluid">
    <h1>{{vm.pageTitle}}</h1>
    
    <div class="row">
        
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">                  
                    <button type="button" class="btn btn-primary" ng-click="vm.create()"> <span class="glyphicon glyphicon-plus"></span> Adauga asociere </button>
                </div>
            </form> 
        </div>
                
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group pull-right">                   
                    <div class="input-group">
                        <span style="padding-right:10px;" class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.refresh()" style="border-radius:4px; background-color:lightgray"><span class="glyphicon glyphicon-refresh"></span></button>
                        </span>
                        <input style="border-top-left-radius:4px; border-bottom-left-radius:4px" ng-model="vm.search" type="text" class="form-control" placeholder="Cauta...">
                        <span class="input-group-btn"><button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </div>
            </form>       
        </div> 
    
    </div>     

    
    <div class="table-responsive">
        <table class="table table-responsive table-hover table-condensed">
            <thead>
                <tr>
                    <th>Nume card</th>
                    <th>Nume angajat</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="assignedName in vm.assignedNames 
                        | filter: vm.filterBySearch
                        as results">
                    <td>
                        <a ng-href="/admin/assignedNames/{{assignedName._id}}">{{assignedName.badgeOwnerCode}}</a>
                        <i class="glyphicon glyphicon-info-sign" ng-if="assignedName.description" bs-tooltip data-animation="am-fade-and-scale" data-title="{{assignedName.description}}"></i>
                    </td>
                    <td>{{ assignedName.employeeName }}</td>
                    <td>
                        <a href ng-click="vm.delete(assignedName)">sterge</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    
    <span class="label label-default" style="font-size:100%; font-weight:normal">Total:</span> {{results.length}} / {{vm.assignedNames.length}}

</div>
