<div ng-include="'app/navbar/navbar.html'"></div>

<div class="container-fluid">
    <h1>{{pageTitle}}</h1>
    
    <div class="row">
        
        <div class="col-md-9">
            <form class="form-inline">
                <div class="form-group">  
                    
                    <!--<button type="button" class="btn" ng-click="refresh()"> <span class="glyphicon glyphicon-refresh"></span> </button> -->
                    
                </div>
            </form> 
        </div>
                
        <div class="col-md-3">
            <form class="form-inline">
                <div class="form-group pull-right">                   
                    <div class="input-group">
                        <span style="padding-right:10px;" class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="refresh()" style="border-radius:4px; background-color:lightgray"><span class="glyphicon glyphicon-refresh"></span></button>
                        </span>
                        <input style="border-top-left-radius:4px; border-bottom-left-radius:4px" ng-model="search" type="text" class="form-control" placeholder="Cauta...">
                        <span class="input-group-btn"><button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </div>
            </form>       
        </div> 
    
    </div>    


    <div class="table-responsive">
        <table class="table table-responsive table-hover table-condensed">
            <thead>
                <tr>
                    <th>Nume</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="user in users | filter:search">
                    <td>
                        <a ng-href="/users/{{user._id}}">{{user.name}}</a>
                    </td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        <a href ng-click="delete(user)">sterge</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>