<div ng-include="'app/navbar/navbar.html'"></div>

<div class="container-fluid">
    <h1>{{pageTitle}}</h1>

    <div class="row toolbar">
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" ng-click="openCreateMenu()"> <span class="glyphicon glyphicon-plus"></span> Adauga meniu </button>
            <button type="button" class="btn" ng-click="refresh()"> <span class="glyphicon glyphicon-refresh"></span> </button>
        </div>

        <div class="col-md-3 pull-right">
            <div class="input-group">
                <input ng-model="search" name="newEmail" type="text" class="form-control" placeholder="Cauta">
                <span class="input-group-btn"><button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
            </div>
        </div>

    </div>
    
    <br/>
    <hr>
    
    <div ng-repeat="menu in menus | filter:search | orderBy:'menuDate'">
        <div class="row toolbar">
            <div class="col-md-4">
                <h4>Meniul de <strong>
                    {{friendlyDate(menu.menuDate).dayAsString}}, 
                    {{friendlyDate(menu.menuDate).dayOfMonth}} 
                    {{friendlyDate(menu.menuDate).monthAsString}}
                </strong> <small style="font-size:14px"> (<a href ng-click="delete(menu)" >Sterge meniu</a>)</small></h4>
            </div>
            <br/>            
        </div>
        <div class="row">
            <div class="col-md-11 col-md-offset-1">

                <div class="table-responsive">
                    <table class="table table-responsive table-hover table-condensed my-borderless">
                        <tbody>
                            <tr data-ng-repeat="dish in menu.dishes | filter:search | orderBy:['category', 'option']">
                                <td>
                                    <span ng-if="dish.option !== undefined">{{dish.option}}.</span>
                                    <span ng-if="dish.option === undefined">&nbsp;&nbsp;&nbsp;</span>
                                    <a ng-href="/dish/{{dish._id}}">{{dish.name}}</a> <span ng-if="dish.isFasting">(post)</span>
                                </td>
                                <td></td>
                                <td>{{ dish.calories }} cal.</td>
                                <td>{{ dish.description }}</td>
                                <td>
                                    <a href ng-click="deleteMenuItem(dish)">sterge</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                <!--<button type="button" class="btn btn-primary btn-xs" ng-click="openCreateMenu()"> <span class="glyphicon glyphicon-plus"></span> Adauga un fel la meniu </button>                -->
            </div>
        </div>
        <hr>
    </div>
    



</div>
